[Desktop Entry]
Version=1.0
Type=Application
Name=XJump
Comment=A jumping game for X
Comment[fr]=Un jeu de saut
Comment[pt]=Um jogo de pulo para o X
Exec=xjump
Icon=xjump
Terminal=false
Categories=Game;ArcadeGame;